*{
    padding: 0px;
    margin:0px;
    font-family:cursive;
    
}


header{
    display:flex;
    background-color:#f0e9e4;
    justify-content: space-between;
    color:#46352A;
    align-items: center;
    

    
}
a{
    text-decoration: none;
    color: maroon;
    
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 20px;
    }

    /* h1{
        color:#ffffff;
        margin-bottom: 10px; 
      *
    } */
    .div1{
        display:flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        align-items:center;
    }
    
   

    .square{
        border-color: #46352A;
        text-align: center;
        justify-content: space-between;
        gap: 20px;
        flex-direction: row;
    
    }

    .section1{
        display: flex;
    background-color: #46352A;
    color: aliceblue;
    
    }
  

.valeur{
    border: #46352A 1px solid;
    text-align: center;
    margin: 20px;
    padding: 2%;
    
}
.valeurs {
    display: flex;
    margin: 10 10%;
    justify-content: space-around;
}

.art2{

}
h2{
    margin: 15px;
}

#fleur{
    width: 50%;
}

#textevert{
    background-color: #4A6743;
    padding: 25px;
    
}
.section2{
    background-color: #F2EFEE;
    text-align: center;
    *{
        margin: 20px;
    }
}
.cards{
    
    display: flex;
        justify-content: center;
        padding: 64px;
        gap: 44px;
}
.card{
    width: fit-content;
    padding: 12px;
    border-radius: 17PX;
    box-shadow: 0 4px 15px #00000045;

    img{
        width: 280px;

    }
}
.formular{
    width: fit-content;
    margin: 32px auto;
    padding: 40px;
    box-shadow: 0 4px 15px #00000026;
    border-radius: 18px;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

footer{
    text-align: center;
    background-color: #46352A;
}

h3{
    text-align: center;
}
   
p{
    text-align: center;
    
}
 

button{
    border-radius: 3px;
      padding:5px;
      margin: 10px 0;
      background-color: #4A6743;
      color: white;
      border-style: none;

}
.section3{
    text-align: center;
}
#input{
    display: flex;
    padding: 5px;


}

main{
    background-color: #f0e9e4;
}


.contact{
    display: flex;
    flex-direction: column;
}

/* css page Apropos */

